<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>대대숲</title>

    <style>
        body { background-color: black; }
        input { background-color: black; color: chartreuse; font-size: 20px; }
    </style>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script> function resize(obj) { obj.style.height = "1px"; obj.style.height = (12 + obj.scrollHeight) + "px"; } </script>
</head>
<body>
    <br/>
    <form method="post" action="{{ url_for('check') }}">
        <label><input type="password" name="pw" style=" background-color: black; color: chartreuse; font-size: 21px; width: 300px; "/></label>&nbsp;
        <label><input type="submit" value="SUBMIT" style=" background-color: black; color: chartreuse; font-size: 22px;"/></label>
    </form>
</body>
</html>
