{% extends 'layout_n.html' %}

{% block content %}
    <script>
        function popupForModifying() {
            let option = "width=820, height=400, toolbar=no, menubar=no, location=no, directories=no, status=no, scrollbars=yes, resizable=no";
            window.open("{{ url_for('modify', title=content[0], content=content[2], category=content[3]) }}", "", option);
        }
    </script>

    <article>
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th class="col-8 text-left">{{ content[0] }}</th>
                    <th class="col-4"></th>
                </tr>
                <tr>
                    <td class="text-left">{{ content[1] }}&nbsp;&nbsp;
                        |&nbsp;&nbsp;{{ content[3] }}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-12 text-left">{{ content[2] }}</td>
                    <td class="col-0"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a class="btn btn-light" href="javascript:popupForModifying()">수정하기</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </article>
{% endblock %}
