<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>대대숲</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="{{url_for('static', filename='menu.js')}}"></script>
  </head>
  <body>
    <div class="top_menu">
        <a type="button" class="add" href="{{ url_for('new_contents') }}"><img src="{{url_for('static', filename='image/menu.ico')}}" width="40" height="40" alt=""></a>
        <a type="button" class="add" href="http://daeseong.hs.kr"><img src="{{url_for('static', filename='image/school_emblem.png')}}" width="37" height="37" alt="" style="padding-top: 0; margin-top: 0"></a>
    </div>
    <div id="bottom">
      <div class="main_center"><img src="{{url_for('static', filename='image/siteLogo.png')}}" width="200" height="200" align="center" alt=""></div>
      <div>
          <form method="get" action="{{ url_for('search') }}">
              <label><input type="text" name="search_term" placeholder="검색어" style=" font-size: 25px;   outline: none; border-radius: 22px; width: 600px; height: 48px; box-shadow: 2px 2px 1px #cfcfcf; margin-top: 30px; padding-left: 22px;"></label>
              <input type="hidden" name="simple_or_detail" value="S"/>
          </form>
      </div>
    </div>
  </body>
</html>
