{% extends 'layout_n.html' %}

{% block header %}
    <script>
        let click_num = 1;

        function change_searching_form() {
            if (click_num % 2 === 0) {
                document.getElementById("simple").style.display = "block";
                document.getElementById("detail").style.display = "none";
            } else {
                document.getElementById("simple").style.display = "none";
                document.getElementById("detail").style.display = "block";
            }
            click_num++;
        }

        function checkForSimpleContents() {
            if (document.getElementById("searchTerm").value === "") {
                alert("검색어를 입력하여 주시기 바랍니다.");
                return false;
            } return true;
        }

        function checkForDetailContents() {
            if (document.getElementById("startWhen").value === "" || document.getElementById("endWhen").value === "") {
                alert("기간 범위를 선택하여 주시기 바랍니다.");
                return false;
            } else if (document.getElementById("category").value === "titleOfSelect") {
                alert("범주를 선택하여 주시기 바랍니다.");
                return false;
            } return true;
        }
    </script>

    <div class="text-right row">
        <form action="{{ url_for('search') }}" method="get" onsubmit="return checkForSimpleContents()" class="form-inline" id="simple" style="display: block;">
            <div class="col">
                <div class="row">
                    <label><input class="form-control" id="searchTerm" type="text" name="search_term" placeholder="검색어"></label>&nbsp;
                    <label><input class="form-control btn btn-primary" type="submit" value="간편 검색"></label>
                    <label><input type="hidden" name="simple_or_detail" value="S"></label>
                </div>
            </div>
        </form>

        <form action="{{ url_for('search') }}" method="get" onsubmit="return checkForDetailContents()" class="form-inline" id="detail" style="display: none;">
            <div class="col">
                <div class="row">
                    <label><input class="form-control" id="startWhen" type="date" min="2020-01-01" name="start_when"
                                  placeholder="시작 날짜"></label>&nbsp;
                    <label><input class="form-control" id="endWhen" type="date" min="2020-01-01" name="end_when"
                                  placeholder="끝 날짜"></label>&nbsp;
                    <label>
                        <select class="form-control custom-select" id="category" name="category">
                            <option value="titleOfSelect" selected>범주</option>
                            {% for i in list_category %}
                                <option>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </label>&nbsp;
                    <label><input class="form-control btn btn-primary" type="submit" value="상세 검색"></label>&nbsp;
                    <label><input type="hidden" name="simple_or_detail" value="D"></label>
                </div>
            </div>
        </form>
        &nbsp;&nbsp;
        <button class="btn btn-info mr-2" onclick="change_searching_form()">전환</button>
    </div>
{% endblock %}

{% block content %}
    <script>
        function popupForAdding() {
            let option = "width=820, height=440, toolbar=no, menubar=no, location=no, directories=no, status=no, scrollbars=yes, resizable=no"
            window.open("{{ url_for('add') }}", "", option);
        }
    </script>

    <article>
        {% if title != None %}
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-text"><h2><b>{{ title }}</b></h2></span>
            </nav>
        {% endif %}
        <br>

        {% if not did_find %}
            &nbsp;<p> {{ not did_find }} "{{ did_find }}" 검색어와 일치하는 자료를 찾지 못했습니다. 검색어를 다시 한 번 확인해 주시기 바랍니다.</p>
        {% else %}
            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                {% for i, j in (('date', '최신순'), ('r_date', '오래된순'), ('utility', '별점순'), ('spell', '철자순')) %}
                    <li class="nav-item"><a class="nav-link {% if i == 'date' %} active {% endif %}" data-toggle="tab" href="#{{ i }}" role="tab">{{ j }}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="nav-tabContent">
                {% for i, t in ((date_sort, 'date'), (r_date_sort, 'r_date'), (utility_sort, 'utility'), (spell_sort, 'spell')) %}
                    <div class="tab-pane fade {% if t == 'date' %} show active {% endif %}" id="{{ t }}" role="tabpanel">
                        <table class="table table-borderless table-striped">
                            <thead>
                            <tr>
                                {% for j in ('번호', '날짜', '제목', '내용', '분류', '별점') %}
                                    <th class="text-center">{{ j }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for k in i %}
                                <tr>
                                    {% for width_p, content in ((5, loop.index), (15, k[1]), (20, k[0]), (40, k[2][:20]), (10, k[4]), (10, k[3][0])) %}
                                        <td {% if width_p in range(16) %} class="text-center" {% endif %} style="width: {{ width_p }}%">
                                            {% if width_p == 20 %}
                                                <a href="{{ url_for('display_content', cnt_title=content) }}" style="text-decoration: none; color: black;">{{ content }}</a>
                                            {% else %}
                                                {{ content }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
                <br>&nbsp;&nbsp;
                <a class="btn btn-light" href="javascript:popupForAdding()">글쓰기</a>
            </div>
        {% endif %}
    </article>
{% endblock %}
