<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>대대숲 - 글 > {{ Info[0] }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="top_menu">
      <a href="{{ url_for('index') }}"><p style="margin-left: 0; margin-top: 5px; margin-bottom: 5px;"><img src="{{url_for('static', filename='image/school_signature.png')}}" width="180" height="40" alt=""></p></a>
        <div></div>
        <div></div>
    </div>
    <div style="width: auto; height: auto; border-bottom: thin solid black;">
        <h1>{{ Info[0] }}</h1>
        <p style="color: darkgray; font-size: 12px; margin-top: 2px;">세부 사항 - 최근수정일 : {{ Info[1] }} | 범주 : {{ Info[4] }} | 별점 : {{ Info[5] }}</p>
    </div>
    <div style="width: auto; height: auto; border-bottom: thin solid black;">
        <p>{{ Info[2] }}</p>
    </div>
    <div style="width: auto; height: 32px; display: grid; grid-template-columns: 60px 270px 1fr; border-bottom: thin solid #000000; padding-top: 10px;">
        <form method="post" action="{{ url_for('modification') }}">
            <input type="hidden" name="index" value="{{ index }}"/>
            <label><input type="submit" value="수정"/></label>&nbsp;&nbsp;|
        </form>
        <form method="post" action="{{ url_for('helpCalc') }}">
            &nbsp;&nbsp;별점&nbsp;
            {% for i in range(1, 6) %}
                <label><input type="radio" name="help" value="{{ i }}"/>{{ i }}</label>
            {% endfor %}
            <input type="hidden" name="index" value="{{ index }}"/>
            <input type="hidden" name="infoTitle" value="{{ infoTitle }}"/>
            &nbsp;<input type="submit" value="제출">
        </form>
    </div>
</body>
</html>