<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>대대숲 - 간편검색</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='script.js')}}"  event="onunload" for="window">Exit();</script>
    <script src="{{url_for('static', filename='menu.js')}}"></script>
  </head>
  <body>
    <div>
      <div class="top_menu">
      <a href="{{ url_for('index') }}"><p style="margin-left: 0; margin-top: 0; margin-bottom: 0;"><img src="{{url_for('static', filename='image/school_signature.png')}}" width="180" height="40" alt=""></p></a>
          <div></div>
          <form action="{{ url_for('Search') }}" method="get" style="margin-left: auto; padding-top: 3px">
              <label><input type="text" name="word" placeholder="검색어" style=" font-size: 18px; outline: none;  border-radius: 15px; width: 300px; height: 26px; box-shadow: 2px 2px 1px #cfcfcf; padding-left: 15px"></label>
              <input type="hidden" name="S_D" value="S"/>
          </form>
      </div>
    <h4 style="padding-left: 15px; margin-top: 30px; padding-bottom: 0; margin-bottom: 0;">'{{ word }}' 검색결과</h4>
    <div style="position: absolute; width: 95%;">
            <div style="padding-bottom: 0; padding-left: 15px; margin-top: 5px;">
                | <a href="{{ url_for('type', filename="{0}".format(filename), type="new", word="{0}".format(word)) }}" style="color: black; text-decoration: none;">최신순</a>
                | <a href="{{ url_for('type', filename="{0}".format(filename), type="old", word="{0}".format(word)) }}" style="color: black; text-decoration: none;">오래된순</a>
                | <a href="{{ url_for('type', filename="{0}".format(filename), type="utility", word="{0}".format(word)) }}" style="color: black; text-decoration: none;">유용한순</a>
                | <a href="{{ url_for('type', filename="{0}".format(filename), type="spell", word="{0}".format(word)) }}" style="color: black; text-decoration: none;">가나다순</a>
                |
            </div>
          <div style="width: auto; border-top : black solid 1.5px; border-bottom: black solid 1.5px; margin-left: 15px; padding-top: 15px; padding-left: 15px; padding-right: 15px; padding-bottom: 0;">
              {% if result %}
              {% for i in result %}
                <a href="/info/{{ i[0] }}" style="color: black; text-decoration: none;">{{ i[0] }} | {{ i[1] }}</a><br>{{ i[2][:220] + " ... " }}<br/><br/>
            {% endfor %}
            {% else %}
                <p>검색어와 일치하는 자료를 찾지 못했습니다. 검색어를 다시 한 번 확인해 주시기 바랍니다.</p>
            {% endif %}
          </div>
      </div>
    </div>
  </body>
</html>
